<ion-view view-title="asdf">
    <ion-content>
        <h1>{{title}}</h1>
        <ion-list style="height: 80%; min-height: 300px;">
            <!--TODO populate with real chat data-->
        </ion-list>
        <ion-item>
            <div style="display: float">
                <input type="text" style="float: left; width: 85%;"></input>
                <button class="button" style="float: right; width: 10%;">Send</button>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
