<ion-view view-title="{{title}}">
    <ion-content>
        <ul class="channel-bar">
            <li>
                <a href="#/app/chat/{{serverID}}/status" class="calm">
                <button class="button button-small button-calm button-outline">
                    Status
                </button>
                </a>
            </li>
            <li ng-repeat="c in channels">
                <a href="#/app/chat/{{serverID}}/{{c}}">
                <button class="button button-small button-calm button-outline">
                    #{{c}}
                </button>
                </a>
            </li>
        </ul>
        <h3>{{channel}}</h1>

            <ion-scroll style="height: 60%;">
                <ion-list id="listMessages">
                    <ion-item ng-repeat="message in history">
                        {{message.time}}-[{{message.sender}}]:{{message.contents}}
                    </ion-item>
                </ion-list>
            </ion-scroll>
            <ion-item>
                <div style="display: float">
                    <input type="text" style="float: left; width: 85%;" ng-model="input.submit"></input>
                    <button class="button button-small" style="float: right; width: 10%;" ng-click="chatSubmit();">Send</button>
                </div>
            </ion-item>
    </ion-content>
</ion-view>
