<ion-view view-title="Server Settings">
    <ion-content>
        <h1 class="title">{{server_title}}</h1>
        <ion-list>
            <ion-item>
                <ion-toggle checked="true" ng-model="timestamps" ng-checked="true">Timestamps</ion-toggle>
            </ion-item>
            <ion-item>
                <ion-list>
                    <ion-list-header>Notifications</ion-list-heder>
                        <ion-radio ng-model="notifications" value="full">Full</ion-radio>
                        <ion-radio ng-model="notifications" value="in_app">In-App</ion-radio>
                        <ion-radio ng-model="notifications" value="none">None</ion-radio>
                </ion-list>
            </ion-item>
            <ion-item>
                <div class="flex-wrapper-justify">
                    <ion-label class="flex90">Highlights</ion-label>
                    <button class="button outline button-small flex10" ng-click="showHighlightDialogue()">
                        <i class="icon ion-android-add"></i>
                    </button>
                </div>
                <ion-list>
                    <ion-item ng-repeat="h in highlights">
                        {{h}}
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                <ion-label class="stacked">Address</ion-label>
                <input type="text" ng-model="address" clearInput="true"></input>
            </ion-item>
            <ion-item>
                <ion-label stacked class="stacked">Nick</ion-label>
                <input type="text" ng-model="nick" clearInput="true"></input>
            </ion-item>
            <ion-item>
                <div class="flex-wrapper-justify">
                    <ion-label>Auto-Join Channels</ion-label>
                    <button class="button outline button-small flex10" ng-click="showChannelDialogue()">
                        <i class="icon ion-android-add"></i>
                        </div>
                <ion-list>
                     <ion-item ng-repeat="c in channels">
                        {{c}}
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
        <div class="center">
            <button ion-button ng-click="saveSettings" class="button button-positive button-full">
                <i class="icon ion-arrow-down-a"></i> Save
            </button>
            <a href="../../"><button class="button button-assertive button-full">
                <i class="icon ion-android-cancel"></i> Cancel
            </button></a>
                </div>
    </ion-content>
</ion-view>
