<ion-view view-title="TeleIRC">
    <ion-content>
        <ion-nav-bar class="bar-stable">Servers</ion-nav-bar>

        <h1>Servers</h1>
        <ion-list>
            <ion-item ng-repeat="s in servers">
                <a href="#/app/chat/{{s.id}}/status">
                    <div style="display: float;">
                        <div style="float:left;">
                            <h4>{{s.title}}</h4>
                        </div>
                        <div style="float: right;">
                            <i class="ion-chevron-right"></i>
                        </div>
                    </div>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
