/* Empty. Add your own CSS if you like */


/* Font rules */

.monospace {
    font-family: monospace;
}


/* centering rules */

.center {
    margin: 0 auto;
}

.flex-wrapper-justify {
    display: flex;
    justify-content: space-between;
}

.flex90 {
    width: 90%
}

.flex10 {
    width: 10%;
}

ul.channel-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.channel-bar li {
    display: inline;
    width: 150px;
}

ul.channel-bar li a {
    text-decoration: none;
    font-size: 16pt;
}

ul.channel-bar li a:visited {
}
